body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav{
    background: #f1f0f0;
}

nav a{
    text-decoration: none;
    color: #000;
}

nav a:hover{
    color: #3c3c3c;
}

main{
    flex-grow: 1;
}

textarea{
    resize: none;
}

label,.form-control{
    font-size: 20px;
}

img{
    width: 100px;
    height: 100px;
}

.celdaEstreno{
    width: 100px;
}

@media all and (min-width:768px){
    form{
        width: 700px;
    }
}